/*SKIN 1*/

div.sg table tr td, div.sg table tr th{
    border-bottom: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
    text-align: center;
}

div.sg table tr td:last-child{
    border-right: none;
}

div.sg table tr:first-child th{
    border-right: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
}

div.sg table tr:first-child th:last-child{
    border-right: none;
}

div.sg table, div.sg table th{
    text-align: center;
    vertical-align: middle;
}

div.sg table td, div.sg table th{
    padding: 5px 0;
}

div.sg .ct_table_title {
    font-weight: bold;
    font-size: large;
}

a.button_sg{
    font-weight: normal;
    text-decoration: none;
    padding: 10px 15px;
    color: #1a1a1a;
    background: white;
    border: 1px solid #e5e5e5;
}

.ct_table_container .ct-size-guide--Responsive{
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 10px;
}
