.wdp_deals_table_caption {
    font-weight: bold;
}

.wdp_deals_table {
    border-collapse: collapse;
    font-size: 0.9em;
}

.wdp_deals_table td {
    border: solid 1px #dfdfdf;
    padding: 5px 10px;
    text-align: center;
}

.wdp_deals_table thead {
    background: #efefef;
}