.wdp_pricing_table_caption {
    /*font-weight: bold;*/
}

.wdp_pricing_table {
    border-collapse: collapse;
    font-size: 0.9em;
    table-layout: fixed;
}

.wdp_pricing_table td {
    border: solid 1px #dfdfdf;
    padding: 5px 10px;
    text-align: center;
}

.wdp_pricing_table thead {
    background: #efefef;
}

.spinner_img {
    content:url(../images/spinner-2x.gif);
    display: block;
}

del .woocommerce-Price-amount {
    display: inline;
}